

body{
    background:gray;
}
h1,p{ text-align: center;
}

ol li, ul li{
   text-align: justify;
   margin: auto;
   width: 60%; 
}

    img {
        width: 250px;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }